section.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

section.logo img {
    width: 63px;
}

section.logo h1 {
    font-weight: 800;
    font-size: 38px;
    line-height: 57px;
}